{
   "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
              "runtime": "automatic"  // Options for @babel/preset-react
            }
        ]
    ]
}